// primary colors

$primary-color: #1363df;
$primary-color-light: #319bff;
$primary-color-lighter: #1b7bf5;
$primary-color-dark: #1651b7;
$primary-color-darker: #184790;

// typography

$color-white: #ffffff;
$gray-100: #000000;
$gray-90: #080808;
$gray-80: #101010;
$gray-70: #181818;
$gray-60: #202020;
$gray-50: #282828;
$gray-40: #303030;
$gray-30: #383838;
$gray-20: #404040;
$gray-10: #484848;

// footer
$footer-color: #06283d;
